<% if user_signed_in? %>
  <%= form_tag('/users/index', method: :get) do %>
    <%= label_tag :名前 %>
    <%= text_field_tag :search_name %>
    <%= label_tag :メールアドレス %>
    <%= text_field_tag :search_email %>
    <%= submit_tag '検索' %>
  <% end %>
      <section class="bg-light text-left py-5 ml-0">
        <div class="container">
          <table class="table">
            <thead class="pl-0">
              <tr><th>名前</th><th>メールアドレス</th><th></th></tr>
            </thead>
            <body>
              <% @users.each do |user| %>
                <tr>
                  <th><%= user.name %></th>
                  <th><%= user.email %></th>
                  <th><%= link_to '削除', "/users/#{user.id}", method: :delete, data: {confirm: "削除しますか？"} %></th>
                </tr>
              <% end %>
            </body>
          </table>
        </div>
      </section>
<% else %>
  <h1>ログインアプリへようこそ</h1>
<% end %>
